
{%if request.user.is_authenticated %}
  <p>{{request.user}}</p>
  <a href="{% url 'main:logout' %}">Logout</a>
{% else %}
<a href="{% url 'main:login' %}">Login</a>
{% endif %}
<hr>
<h1> My to do list {{color}}</h1>


<a href="{% url 'main:task-create' %}" >Add task</a>
<form method="GET" style="display: flex;">
        <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'main:task' task.id %}">Views</a></td>
        <td><a href="{% url 'main:task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'main:task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3> No items in list</h3>
    {% endfor %}
</table>